.search-container {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  position: relative;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 8px 15px;
  width: 700px;
}


.search-icon {
  margin-right: 12px;
  font-size: 1.2rem;
}

.search-input {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px 5px;
  outline: none;
  width: 100%;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-button {
  background: white;
  border: none;
  padding: 8px 8px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.search-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2); 

}


.search-button img {
  width: 25px;
  height: 25px;
}

.search-suggestions {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}

.search-suggestions button {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  padding: 3px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.search-suggestions button:hover {
  border-color: white;
}
