.home-container {
  min-width: 100%;
  overflow-x: hidden;
}

.hero-section {
  position: relative;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/fondo-menu.jpg'); 
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.home-content {
  position: relative;
  color: white;
  text-align: center;
  z-index: 1; 
  width: 100%;
  overflow-x: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg, 
    rgba(19, 103, 211, 0.8) 0%, 
    rgba(10, 25, 47, 0.9) 100%
  );
  z-index: -1;
}


.info-section {
  position: relative;
  background: #f8fafc; 
  min-height: 400px;
  z-index: 1; 
  box-shadow: 0 -20px 40px rgba(0,0,0,0.5); 
  overflow-x: hidden;
}

.home-header {
  text-align: center;
}

.icon-cabildo {
  position: absolute; 
  top: 1.3rem;
  right: 1.3rem;
  filter: brightness(0) invert(1);
}



.icon-cabildo img {
  width: 60px;
  height: auto;  
}

.logo-pagina img{
  height: 200px;  
  width: auto;}

.subtitle {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 30px;
}


